.imageCarousel {
  box-sizing: border-box;
  height: fit-content;
  max-height: 600px;
  width: fit-content;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.imageCarousel__arrow {
  background-color: rgba(162, 162, 162, 0.623);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  z-index: 3;
}
.imageCarousel__arrow:hover {
  background-color: rgba(255, 255, 255, 0.605);
  color: rgb(71, 71, 71);
}

.imageCarousel__back {
  position: absolute;
  top: 50%;
  right: 88%;
}
.imageCarousel__next {
  position: absolute;
  top: 50%;
  left: 88%;
}



.imageCarousel__number {
  position: absolute;
  top: 5px;
  left: 7px;
  color: rgb(123, 123, 123);
}

.imageCarousel__image {
  width: 100%;
  height: 100%;
}

.imageCarousel__caption {
  position: absolute;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.499);
  border-radius: 5px;
  width: fit-content;
  padding: 0 10px;
  text-align: center;
}
