.home {
  font-family: "Titillium Web", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
  padding: 20px;
}

.home__hiContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.home__smallText {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(106, 112, 106);
}
.home__bigText {
  font-size: 2.3rem;
  font-weight: 600;
  color: rgb(118, 149, 118);
}
.home__medText {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(123, 125, 123);
}
.home__statement {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(91, 91, 91);
}
.home__headshot {
  margin: auto;
}

.home__skills {
  color: rgb(118, 149, 118);
}
.home__skillsTitle {
  text-align: center;
  font-size: 2.9rem;
  padding: 20px;
  margin-top: 8px;
  font-weight: 400;
}

.home__skillsLogoBox {
  border: 3px solid rgb(200, 213, 200);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  gap: 24px;
  padding: 32px 12px;
  margin: 22px;
  border-radius: 25px;
}

.home__techLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__techLogo {
  height: 70px;
  width: auto;
}
.home__techLogoTitle {
  font-size: 1.3rem;
  margin-top: 10px;
  text-align: center;
}
.home__reduxLogoContainer {
  margin-top: 2px;
  grid-column: 2/3;
}

.home__footer {
  margin-top: auto;
}

@media screen and (min-width: 430px) and (max-width: 800px) {
  .home__body {
  }
  .home__hiContainer {
  }
  .home__smallText {
    font-size: 1.1rem;
  }
  .home__bigText {
    font-size: 2.1rem;
  }
  .home__medText {
    font-size: 1.6rem;
  }
  .home__statement {
    font-size: 1.2rem;
  }

  .home__headshot {
    margin: auto;
  }

  .home__skills {
  }
  .home__skillsTitle {
    font-size: 2.7rem;
  }

  .home__skillsLogoBox {
    padding: 30px 10px;
  }

  .home__techLogoContainer {
  }
  .home__techLogo {
    height: 65px;
   
  }
  .home__techLogoTitle {
    font-size: 1.2rem; 
  }
  .home__reduxLogoContainer {
    margin-top: 2px;
    grid-column: 2/3;
  }
}

@media screen and (max-width: 430px) {
  .home__body {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .home__smallText {
    font-size: 1rem;
  }
  .home__bigText {
    font-size: 1.9rem;
  }
  .home__medText {
    font-size: 1.4rem;
  }
  .home__statement {
    font-size: 1rem;
  }

  .home__headshot {
  }

  .home__skills {
    color: rgb(118, 149, 118);
  }
  .home__skillsTitle {
    font-size: 2.2rem;
  }

  .home__skillsLogoBox {
    padding: 28px 10px;
  }

  .home__techLogoContainer {
    
  }
  .home__techLogo {
    height: 50px;
  }
  .home__techLogoTitle {
    font-size: 1rem;
  }
  .home__reduxLogoContainer {
  }
}
