

.projects__body {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
  padding: 20px;
}

.project__projectImage {
  max-width: 400px;
  max-height: 400px;
  object-fit: fill;
}


