

.projects__body {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
  padding: 20px;
}

.projects__projectBody {
  border: 2px solid green;
}

.projects__projectBody h2 {

}

.projects__projectLowerContainer {
  border: 1px solid blue;
  display: flex;
}

.projects__projectImage {

  width: 400px;
  height: 400px;
  object-fit: cover;
}

.projects__projectDescription {
  padding: 11px;
  border: 1px solid lime;
}

