

.projects__body {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
  padding: 20px;
}

.projects__projectBody {
  border: 2px solid green;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.projects__projectBody h2 {

}

.projects__projectLowerContainer {
  border: 1px solid blue;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

.projects__projectImage {

  width: 100%;
  height: auto;
  object-fit: cover;
}

.projects__projectDescription {
  padding: 11px;
  border: 1px solid lime;
}

@media screen and (max-width: 570px) {
  .projects__projectLowerContainer {
    display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  }
  
}