.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 430px) and (max-width: 630px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 360px) and (max-width: 430px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}