.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(219, 32, 63);
    background-color: rgb(255, 250, 243);
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}
@media screen and (min-width: 430px) and (max-width: 630px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen  and (max-width: 430px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}