.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(149, 183, 149);
    color: white;
}

.navbar__name {
    font-family: 'The Nautigal', cursive;
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    
    margin: .5rem;
}

.navbar__links {
    height: 100%;
}

.navbar__links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar__links li  {
    list-style: none;
}

.navbar__links li .navbar__link {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    padding: 1rem;
}

.navbar__links li:hover {
    background-color:rgb(179, 226, 179);
}

.navbar__toggle {
    position: absolute;
    top: .5rem;
    right: .7rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    color: rgb(255, 255, 255);
}

.navbar__toggle:hover {
    color: rgb(70, 69, 69);
}







@media screen  and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__name {
        margin-left: .5rem;
        font-size: 1.8rem;

    }
    .navbar__toggle {
        display: flex;
    }

    .navbar__links {
        display: none;
        width: 100%;
    }

    .navbar__links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar__links ul li {
        text-align: center;
    }
    .navbar__links ul li a {
        padding: .5rem 1rem;
    }
    .navbar__links.active {
        display: flex;
    }
    
    
    
}

