.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    height: 40px;
    font-size: 1rem;
    max-width: 600px;
    width: 100%;
}

.navbar__btn {
    width: 100%;
    background: none;
    outline: none;
    border: 2px solid transparent;
    font-size: 1.2rem;
    transition: ease-in-out 600ms;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

}

.navbar__btn:hover {
    border-bottom: 2px solid rgb(168, 218, 168);
    color:  rgb(168, 218, 168);
}



@media screen and (max-width: 915px) {
    .navbar {
       
    }
}


@media screen and (min-width: 430px) and (max-width: 650px) { 
   .navbar {
        display: flex;
        justify-content: space-evenly;
        padding: 2px;
        height: 40px;
        font-size: 1rem;
    }

    .navbar__btn {
        font-size: 1rem;
        position: relative;
        
    }

 
}

@media screen and (max-width: 430px) { 
    .navbar {
        border: 1px solid red;
        display: flex;
        justify-content: space-evenly;
        padding: 2px;
        height: 35px;
    }

    .navbar__btn {
        font-size: .9rem;
        
    }

}


