.about {
    font-family: "Titillium Web", sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }

.about__body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
  padding: 20px;
}

.about__carousel {
  width: 500px;
  height: 500px;
  position: relative;
}

.about__slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.about__slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about__slide[data-active] {
  opacity: 1;
}

.about__carousel-button {
  position: absolute;
  z-index: 2;
  background: none; 
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  margin-top: auto;
}