.about {
  
}

.about__body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
  padding: 15px 40px;
}

.about__body h1 {
  font-size: 2rem;
  color: rgb(116, 142, 116);
}

.about__text {
  font-size: 1.2rem;
  

}

.about__funFact {
  color: rgb(126, 157, 126);
}
footer {
  margin-top: auto;
}

@media screen and (min-width: 430px) and (max-width: 800px) {
  .about__body h1 {
    font-size: 1.8rem;
  }
  .about__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .about__body h1 {
    font-size: 1.6rem;
  }
  .about__text {
    font-size: .9rem;
  }
}
